.splashBG {
  background: url("../img/Oval-3.png"), url("../img/Oval-4.png"),
    url("../img/Oval-5.png"), url("../img/Oval-6.png"), url("../img/Oval-7.png");
  background-repeat: no-repeat;
  background-position: center;
}
